<!doctype html>
<html>
<head>
  <title>Data Science R&D</title>
  <style>
    html, body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    .grid {
      width: 50%;
      margin: 3em auto;
      clear: both;
    }

    .grid input {
      display: block;
    }

    .grid img {
      width: calc(100% / 8);
      image-rendering: pixelated;
      display: block;
      margin: 0;
      padding: 0;
      float: left;
      border: 3px solid #fff;
      box-sizing: border-box;
    }
  </style>
</head>
<body>

<script>
  async function main(weightsPath) {
    const { out: dirs } = await getDirs(weightsPath);

    const files = await Promise.all(dirs.filter((dir) => !(dir[0] === '.')).map(async(dir) => {
      const res = await getDirs(`${weightsPath}/${dir}`);
      return res.out.filter((file) => !(file[0] === '.')).map((file) => `/${weightsPath}/${dir}/${file}`);
    }));
    
    render(files, 0, weightsPath);
  }

  async function getDirs(path) {
    const res = await fetch(`/api/ls/${encodeURIComponent(path)}`);
    return await res.json();
  }

  function render(col, index, id) {
    let grid = document.querySelector(`#${id}`);
    let title = document.querySelector(`#${id}-title`);

    if (!grid) {
      grid = document.createElement('div');
      grid.setAttribute('id', id);
      grid.setAttribute('class', 'grid');

      title = document.createElement('h1');
      title.setAttribute('id', `${id}-title`);
      grid.appendChild(title);

      const slider = document.createElement('input');
      slider.setAttribute('type', 'range');
      slider.setAttribute('min', '0');
      slider.setAttribute('max', String(col.length - 1));
      slider.setAttribute('value', index);
      grid.appendChild(slider);

      slider.addEventListener('input', (e) => {
        render(col, Number(e.target.value), id);
      });

      for (let i = 0; i < 64/*col.length*/; i++) {
        const cell = document.createElement('img');
        grid.appendChild(cell);
      }

      document.body.appendChild(grid);
    }

    title.textContent = `${index + 1}/${col.length}`;
    for (let i = 0; i < col[index].length; i++) {
      if (col[index][i] && grid.children[i]) {
        grid.children[i].setAttribute('src', col[index][i]);
      }
    }
  }

  main('weights-vis-bn');
  main('feature-maps-bn');
</script>
</body>
</html>
